.main
{
    border: dashed red; 
    display: flex; 
    justify-content: center;
}

/* The following is the container column for the settings.*/
.one
{
    display: flex; 
    flex-direction: column;
    border: dashed blue; 
    justify-content: center;
    padding: 10px; 
    gap: 20px; 
}
.res, .color, .clear
{
    border: solid green; 
}
.res
{
    text-align: center;
    padding: 10px; 
}
.color
{
    text-align: center; 
    padding: 10px; 
}
.clear
{
    text-align: center;
}


/* Grid Settings*/
.two
{
    display: flex;
    flex-wrap: wrap; 
    border: dashed green;
    height: 360px; 
    width: 380px; 
    padding: 20px; 
    margin: 0; 
}
.block
{
    display: flex; 
    justify-content: center;
    border: solid black;
    height: 20px; 
    width: 20px; 
}